@media screen and (min-width: 920px) {

* {
    margin: 0px;
    font-family: 'Roboto', sans-serif;    
    text-decoration: none;
    color: #000;
}

.Back-arrow-div {
    display: flex;
    align-items: center;
    padding-left: 20px;

}

.logo {
    width: 200px;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.fa-arrow-left {
font-size: x-large;

}

.menu-img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}
}