@media screen and (min-width: 920px) {

* {
    margin: 0px;
    font-family: 'Roboto', sans-serif;    
    text-decoration: none;
    color: #000;
}


.logo {
    width: 200px;
    height: 100%;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.location-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #e2dfdf;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
    box-shadow: 0 -2px 0px 0px #3d3a3a38;
}


.explore-container {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
}

.explore-title {
    font-weight: bold;
    padding-top: 30px;
}

.description-text {
    text-align: center;
}

.explore-button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
    width: 200px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 1px 1px 2px 1px #38363638;
}

.explore-button:hover {
    background: linear-gradient(0deg, #7b48b9 0%, #ff79da 100%);
    box-shadow: 1px 1px 2px 1px #3a2341b0;
}

.guide-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 30px;
    gap: 20px;
}

.how-heading {
    font-size: xx-large;
    font-weight: bold;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.How-it-works-button {
    cursor: pointer;
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    background-color: #f2f2f2;
    width: 275px;
    height: 75px;
    padding-left: 20px;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    box-shadow: 1px 1px 6px 1px #3d3a3a38;
}

.How-it-works-button:hover {
    background-color: #f7e9f5;
    box-shadow: 1px 1px 6px 1px #3a2341b0;
}

.How-it-works-button:hover .fa-mobile-screen-button {
    color: #9356DC;
}

.How-it-works-button:hover .fa-ellipsis-vertical {
    color: #9356DC;
}

.How-it-works-button:hover .fa-bars {
    color: #9356DC;
}

.How-it-works-button:hover .fa-store {
    color: #9356DC;
}


.fa-1 {
    color: #ffffff;
    background-color: #9356DC;
    position: absolute;
    font-size: large;
    left: -14px;
    top: 24px;
    padding-left: 11px;
    padding-right: 11PX;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 100px;
}

.fa-2 {
    color: #ffffff;
    background-color: #9356DC;
    position: absolute;
    font-size: large;
    left: -14px;
    top: 24px;
    padding-left: 10px;
    padding-right: 10PX;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 18px;
}
.fa-3 {
    color: #ffffff;
    background-color: #9356DC;
    position: absolute;
    font-size: large;
    left: -14px;
    top: 24px;
    padding-left: 8px;
    padding-right: 8PX;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 18px;
}


.fa-mobile-screen-button {
    color: #3d3a3a38;
    padding-left: 15px;
}

.fa-ellipsis-vertical {
    color: #3d3a3a38;
    padding-left: 15px;   
}

.fa-bars {
    color: #3d3a3a38;    
}

.fa-store {
    color: #3d3a3a38;
    padding-left: 15px;   

}

.button-text {
    padding-left: 10px;
}

.main {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant-container {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
  
}

.heading-restaurant {
    background-color: #f2f2f2;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: xx-large;
}

.tile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

}

.section-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.tile {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 15px;
    box-shadow: 1px 1px 6px 1px #3d3a3a38;
}

.tile:hover {
    background-color: #f7e9f5;
    box-shadow: 1px 1px 6px 1px #3a2341b0;
}

img.restaurant {
    object-fit: cover;
    height: 400PX;
    width: 100%;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}

.details-container {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    row-gap: 30px;
    margin-top: -3px;
}

.tile:hover .details-container {
    background-color: #f7e9f5;
}

.tile-title {
    font-weight: bold;
    padding-left: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.city {
    padding-left: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.like-empty {
    font-size: xx-large;
    padding-top: 8px;
    padding-right: 8px;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.like-empty:hover {
    font-size: 0px;
}

.fa-stack-2 {
    font-size: 0px;
}

.like-empty:hover .fa-stack-2 {
    color: #FF79DA;
    font-size: xx-large;
    padding-top: 2px;
    padding-right: 8px;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.footer-container {
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 150px;
    gap: 20px;
}

.footer-title {
    font-family: 'Shrikhand', cursive;
    color: #ffffff;
    font-size: xx-large;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-title-2 {
    font-family: 'Shrikhand', cursive;
    color: #000;
    font-size: xx-large;
    padding-top: 20px;
    padding-bottom: 20px;
}

.invisible {
    user-select: none;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 45px;
    padding-bottom: 20px;
}

.hyper_link {
    color: #ffffff;
    text-decoration: none;
}

}    